*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    overflow-x: hidden;
    color: white;
    font-family: fantasy;
}

header{
    height: 100vh;

    background: url('../images/books.jpg') no-repeat center;
    background-size: cover;
}

.row{
    max-width: 1180px;
    margin: 0 auto;
}

.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    margin-top: 60px;
}

.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.main-nav li a{
    color: antiquewhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}

.clearfix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

.main-content{
    width: 1180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2{
    color: white;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
}

.button1{
    background-color: transparent;
    color: chocolate;
    margin-right: 15px;
    border: 1px solid chocolate;
}

.button2{
    background-color: transparent;
    color: wheat;
    margin-right: 15px;
    border: 1px solid wheat;
}

.mywebsite{
    animation: colorchange 1s infinite;
}

@keyframes colorchange{
    0%{color: red;}
    25%{color: chocolate;}
    50%{color: white;}
    100%{color: chocolate;}
}