<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div >

    <div th:if="${not #lists.isEmpty(posts)}">
        <h2>Product List</h2>
        <table >
            <tr>
                <th>Id</th>
                <th>Description</th>
            </tr>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}">Id</td>
                <td th:text="${post.description}">Description</td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>