<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Garima Singh</title>
        <link rel="stylesheet" type="text/css" href="css/forcss.css">
    </head>
    <body>
        
        <header>
            <nav>
                <div class="row">
                    <img src="images/circlelogo.jpg" class="logo">
                    
                    <ul class="main-nav">
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Sign Up</a></li>
                        
                    </ul>
                </div>
            </nav>
            
            <div class="main-content">
            <h1>Garima Singh</h1>
            <h2>Welcome to <span class="mywebsite">My Website</span>.<br>
            My Blog.</h2>
            <a href="#" class="btn button1"> Read More</a>
            <a href="#" class="btn button2"> Know Me</a>
            </div>
            
        </header>
        
    </body>
</html>
